<main>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="payment__claimId-container">
            <p class="text-gray-500">{{ paymentTitle }}</p>
            <p class="text-gray-500">/</p>
            <p class="font-bold">{{payment?.invoiceId}}</p>
        </div>
        <app-button variant="outlined-primary" (click)="openPaymentList()">
            <mat-icon start-icon>arrow_back</mat-icon>
            Back
        </app-button>
        <div *ngIf="['garage', 'spare_part'].includes(className)" class="flex items-center gap-8">
            <h1 class="text-3xl text-black-600 font-bold">Claim n°: {{payment?.claimId}}</h1>
            <div class="flex items-center gap-2">
                <div [class]="`status-dot ${getStatusSeverity(payment?.status)}`"></div>
                <p>{{ payment?.status }}</p>
            </div>
        </div>
        <div class="details-container">
            <h1 *ngIf="className === 'surveyor'" class="text-3xl text-black-600 font-bold">Claim n°: {{payment?.claimId}}</h1>
            <div class="flex flex-col gap-6">
                <h1 class="text-3xl text-black-600 font-bold" *ngIf="className === 'spare_part'">General Information</h1>

                <!-- Details fields -->
                <div *ngIf="(className !== 'spare_part') || (payment?.status !== 'New')" class="grid grid-cols-3 gap-4">
                    <div *ngFor="let data of detailsFields">
                        <p class="text-gray-500">{{data.label}}</p>
                        <p class="text-xl font-bold my-1">{{ data.value }}</p>
                    </div>
                </div>
                <!-- Input details fields -->
                <div *ngIf="(className === 'spare_part') && (payment?.status === 'New')" class="flex flex-col gap-4">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="field-container">
                            <p><span class="text-red-500">*</span> Invoice number</p>
                            <div class="flex flex-col gap-1">
                                <div class="relative items-center">
                                    <input required matInput name="invoiceId" formControlName="invoiceId"
                                        autocomplete="off" [ngClass]="{
                                        'border-red-500': invoiceId?.invalid && invoiceId?.touched,
                                        'border-gray-300': !(invoiceId?.invalid && invoiceId?.touched)
                                        }" class="w-full border border-gray-300 rounded-md placeholder-gray-400 pl-2 pe-4 py-2 focus:outline-none"
                                    />
                                    <span *ngIf="invoiceId?.invalid && invoiceId?.touched"
                                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-red-500">
                                        <mat-icon>cancel</mat-icon>
                                    </span>
                                    </div>
                                <span *ngIf="invoiceId?.invalid && invoiceId?.touched" class="text-red-500">Enter invoice number</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-4">
                        <div *ngFor="let data of inputDetailsFields" class="field-container">
                            <p>{{ data.label }}</p>
                            <input disabled matInput [placeholder]="data.value ?? ''"
                                class="w-full border border-gray-300 rounded-md placeholder-gray-400 pl-2 pe-4 py-2 focus:outline-none"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table datas -->
            <table [class]="`data-table ${className}`">
                <tr *ngFor="let datas of tableDatas">
                    <td *ngFor="let content of datas">{{ content }}</td>
                </tr>
            </table>

            <!-- PTable datas -->
            <div class="flex flex-col gap-6" *ngIf="!!pTableDatas?.headers">
                <h1 class="text-3xl text-black-600 font-bold" *ngIf="className === 'spare_part'">Invoice</h1>
                <app-table
                    [headers]="pTableDatas.headers"
                    [rows]="pTableDatas.rows"
                    [footerRows]="pTableDatas.footerRows ?? []"
                >
                </app-table>
            </div>
        </div>
        <div class="flex justify-end gap-4">
            <app-button type="button" *ngIf="['garage', 'spare_part'].includes(className)" variant="outlined" (click)="openPaymentList()">
                Exit
            </app-button>
            <app-button type="button" variant="contained" (click)="onDownload($event, payment)" *ngIf="(className !== 'spare_part') || (payment?.status !== 'New')">
                <lucide-angular *ngIf="className === 'surveyor'" start-icon [img]="lucideIcons.download" class="h-4 w-4"/>
                Download
            </app-button>
            <app-button type="submit" variant="contained" *ngIf="(className === 'spare_part') && (payment?.status === 'New')">
                Submit
            </app-button>
        </div>
    </form>
</main>